.fraction {
    display: table-cell;
    text-align: center;    
}
.denominator{
    border-top: 1px solid white;
    display: block;
}
.fraction, .numerator, .denominator {
    padding: 0px 5px;    
}

:root {
    --default-font: Arial, Helvetica, sans-serif;
    --wff-font: 'Courier New', Courier, monospace;

    --header-background-colour: #252525;
    --page-background-colour: #303030;
    --box-colour: #404040;
    --input-background-colour: #404040;
    --input-button-background-colour: #505050;
    --input-button-background-colour-hover: #606060;
    --table-row-alternate-colour: #555555;
    --font-colour: white;
}
   
body {
    margin: 0;
    color: var(--font-colour);
    font-family: var(--default-font);
    background-color: var(--page-background-colour);
    display: flex;
    flex-direction: column;
    max-height: 100vh;
}

/* Home Page */

.home-header {
    text-align: center;
}

.home-header h1 {
    margin-top: 0;
    margin-bottom: 8px;
}

#home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#home-container span {
    display: inline-block;
}
#proof-start-info {

}

/* Proof Page */

.proof-header {
    display: grid; 
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: var(--header-background-colour);
    margin: 0;
    /* margin-bottom: 8px; */
    padding: 8px;
    /* height: 20%; */
}

.proof-header h1 {
    margin: 0
}

.proof-header #proof-start-info {
    
}

.box {
    background-color: var(--box-colour);
    border-radius: 8px;
}

#container {
    flex: 1 1 auto;
    display: flex;
    min-height: 100px; /* without this everything breaks lol */ 
    margin: 8px;
    gap: 8px;
}

#proof-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 8px;
    flex: 2 0 auto;
    /* margin: 0 8px; */
}

#proof-container > h2 {
    text-align: center;
}

#proof-info {
    flex: 0 auto;
    /* border: 1px solid black; */
    padding: 0 8px;
}

#steps-container {
    flex: auto;
    /* border: 1px solid black; */
    /* background-color: var(--background); */
    min-height: 100px;
    overflow-y: auto;   
}
#steps-container > p {
    margin: 8px;
}

#steps-table {
    margin: 8px;
    font-family: var(--wff-font);
    counter-reset: rowNumber;
    text-align: left;
}

#steps-table tr::before {
    display: table-cell;
    counter-increment: rowNumber;
    content: counter(rowNumber) ".";
    text-align: right;
}
.steps-justification {
    padding: 0 2rem;
}

#input-container {
    flex: 0 0 auto;
    /* border: 1px solid black; */
    /* border-radius: 5px; */
    /* height: 28px; */
    display: flex;
    /* flex-direction: row; */
    /* padding: 12px; */
    background-color: var(--input-background-colour);
}
#input-wff-entry {
    flex-grow: 1;
    color: inherit;
    background-color: var(--input-background-colour);
    border: none;
    padding: 12px;
    border-radius: 12px;
}
#input-wff-entry:focus {
    outline: none;
}

#button-check-step {
    background-color: var(--input-button-background-colour);
    color: inherit;
    border: inherit;
    border-radius: 12px;
}
#button-check-step:hover {
    cursor: pointer;
    background-color: var(--input-button-background-colour-hover);
}


/* TODO: On small displays, resource container should appear under the input 
rather than beside it */
#resource-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 8px;
    overflow: auto;
    /* min-height: 1000px; */
}

.resource {
    flex: 0 1 auto;
    display: flex;
    flex-direction: column;
    min-height: 100px;
}

.resource > h3 {
    text-align: center;
    padding: 0.5rem;
    margin: 0;
}
.table-container {
    flex: 0 1 auto; 
    overflow-y: auto;
}
.table-container table {
    font-family: var(--wff-font);
    border-collapse: collapse;
    width: 100%;
}
.table-container table tr td {
    padding: 0.25rem 1rem;
}
.table-container table tr td:first-child {
    text-align: right;
}
.table-container table tr td:last-child {
    text-align: left;
}

.table-container tr:nth-child(odd) {
    background-color: var(--table-row-alternate-colour);
  }

#operators-container {
    flex: none;
}
#operators {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
#operators > p {
    margin: 4px 8px;
}